<%- include layouts/header %>
    <h1 class="is title">Influenseer</h1>
    <ul id="tweets">
    </ul>
    <script src="/js/lib/socket.io.js"></script>
    <script>
    var socket = io.connect('/');
    tweets = document.getElementById('tweets');
    socket.on('tweet', function (data) {
        for(let tweet of data) {
            tweets.innerHTML += `<li>${tweet.user.screen_name}: ${tweet.text}: ${tweet.retweet_count} retweets and ${tweet.favorite_count} favorites</li>`;
        }
    });
    </script>
<%- include layouts/footer %>