<%- include layouts/header %>
<nav class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
    <!--a class="navbar-item">
      <img src="img/influenseer.png" alt="Influenseer" width="200" height="63">
    </a-->
  
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" id = "nonaction" href="/leaderboards">Leaderboard</a>
            <a href="/stream" class="button is-link is-hoverable" id = "iblue">Stream</a>
          </div>
        </div>
      </div>
  </nav>

  <br><br><br>
  <img src="img/influenseer.png" alt="Influenseer">
  <h2 class="title is-2" id = "phrase">See who's trending today.</h2>
  <br>
    <div class="columns">
        <div class="column">
            <label class="label" id= "nonaction">Instagram</label>
            <form action="/instagram" method="get">
                <div class="field">
                    <input type="text" class="input" placeholder="Username" name="handle">
                </div>
            </form>
        </div>
        <div class="column">
            <label class="label" id= "nonaction">Twitter</label>
            <form action="/twitter" method="get">
                <div class="field">
                    <input type="text" class="input" placeholder="Username" name="handle">
                </div>
            </form>       
        </div>
        <div class="column">
                <label class="label" id= "nonaction">Facebook</label>
            <form action="/facebook" method="post" encType="multipart/form-data">
                <div class="field">
                    <input type="text" class="input" placeholder="Username" name="username" required>
                </div>
                <div class="field">
                    <input type="file" id="facebook_data" name="facebook_data" class="input" >
                </div>
                <div class="field">
                    <div class="file is-link has-name">
                        <label class="file-label">
                        <input class="file-input" id="iblue" type="file">
                        <span class="file-cta">
                            <span class="file-icon">
                            <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                            Upload
                            </span>
                        </span>
                        <span class="file-name">

                        </span>
                        </label>
                    </div>
                </div>
                <button class="button is-link is-hoverable" id = "search-button">Search</button>
            </form>
        </div>
    </div>
          
<%- include layouts/footer %>