<%- include layouts/header %>
    <div class="container">
        <h1 class="title">influenseer <small>see whos's trending</small></h1>
        <form action="/stream" method="get">
            
        </form>
    </div>
<%- include layouts/footer %>