<%- include layouts/header %>
<a class="navbar-item" href="/">
    <img src="img/influenseer.png" id = "logo" alt="Influenseer" width="200" height="63">
</a>      
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" id = "nonaction" href="/leaderboards">Leaderboard</a>
            <a href="/stream" class="button is-link is-hoverable" id = "iblue">Stream</a>
          </div>
        </div>
      </div>
</nav>
<a class="button is-primary" id = "iblue"href='/' style="position: fixed; top: 80%; right:5%; height: 60px; width: 60px; border-radius:50%; z-index:999">
	<
</a>
    <h2 class="title is-2">Tweet Stream</h2>
    <h2 class="is subtitle" id="phrase">Candidates</h2> 
    <div id="candidates" class="columns is-multiline">
    </div>
    <script src="/js/lib/socket.io.js"></script>
    <script>
    var socket = io.connect('/');
    candidates = document.getElementById('candidates');
    socket.on('tweet', function (tweet) {
        console.log(tweet);
        candidates.innerHTML += `<div class="card column is-one-third">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="${tweet.user.profile_background_image_url_https}" alt="${tweet.user.screen_name}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <a href="https://twitter.com/${tweet.user.screen_name}">
                                                <img src="${tweet.user.profile_image_url_https}">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="media-content" style="overflow:hidden;">
                                      <p class="title is-4">${tweet.user.name}</p>
                                      <p class="subtitle is-6">@${tweet.user.screen_name}</p>
                                    </div>
                                </div>
                            </div>`;
    });
    </script>
<%- include layouts/footer %>