@font-face {
    font-family: Proxima Nova;
    src: url(proxima_nova_regular.otf);
}
@font-face {
    font-family: Proxima Nova;
    src: url(proxima_nova_extrabold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Proxima Nova;
    src: url(proxima_nova_semibold.otf);
    font-weight: 500;
}
* {
    font-family: Proxima Nova;
}
body {
     min-height: 100vh;
     background-color: #F7FAFF;
}
.navbar {
    padding-top: 15px;
    background-color: #F7FAFF;
}
#logo {
    margin-left: -15px;
}
.influenseer-button {
    padding: 23px 20px 23px 20px;
}
#iblue {
    background-color: #1875F0;
    padding: 23px 20px 23px 20px;
}
#nonaction {
    color: grey;
    margin-right: 15px;
    font-weight: normal;
}
#phrase {
    color: dimgrey;
    padding-top: 7px;
}
.subtext{
    font-size: 0.76em;
    color: grey;
}
.main_test{
    font-size: 20px;
}
#submit-button {
    padding-bottom: 35px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
#ibluefont {
    color: #1875F0;
}
#platform-drop {
    margin-right: 15px;
}
#profile-space {
    margin-right: 50px;
    margin-left: 10px;
}
#sad {
    color: gold;
}
#okay {
    color: lawngreen;
}
#yey {
    color: forestgreen;
}